<p><b>Full response:</b> <%= @dx.inspect %></p>
<p><b>ID:</b> <%= @dx["id"] %></p>
<p><b>Solr Label:</b> <%= @dx["solr_label"] %></p>
<p><b>Code:</b> <%= @dx["code"] %></p>
<p><b>Type:</b> <%= @dx["type"] %></p>

<%= link_to 'Edit', edit_dx_path %> |
<%= link_to 'Back', dxes_path %>