<div id="navigation">
  <h1>Some Other Doctor's Profile</h1>
  <%= #link_to "Edit Profile", edit_user_path(@user) %>
<div>

<div class='container'>
  <div id='user-profile'>
    <%= image_tag @user.avatar_url %>
    <h1><%= "First Name: #{@user.first_name} Last Name: #{@user.last_name}" %></h1>
    <%= "Degree: #{@user.degree}, Specialty: #{@user.specialty}" %>
    <%= "Location: @user.location" %>
    <%= "Website: @user.website" %>
  <div id='user-profile'>
<div>

<div class='container'>
  <div id='user-actions'>
    <%= render @user_actions %>
  </div>
  <div id='following-list'>
    <%= render @user_is_following %>
  </div>
  <div id='followers-list'>
    <%= render @user_followers %>
  </div>

  <div id='follow-action-button'>
  <%= if @user_followers.contains?(@current_user) %>
    <p>You are following <%= @user.first_name @user.last_name %><p>
    <%= button_to "Unfollow #{@user.first_name} #{@user.last_name}", unfollow_user_path(@user) %>
  <%= else %>
    <%= button_to "Follow #{@user.first_name}", follow_user_path(@user) %>
  <% end %>
<div>