<div id="navbar-inner">
  <h1>My Profile</h1>
</div>

<div class='container'>
  <div id='user-profile'>
    
    <h1><%= "First Name: #{@current_user.first_name} Last Name: #{@current_user.last_name}" %></h1>
    <%= "Degree: #{@current_user.degree}" %>
    <%= "Specialties: #{@current_user.specialties.first}" %>
    <%= "Locations: #{@current_user.locations.first}" %>
    <%= "Websites: #{@current_user.websites.first}" %>
    <%= "Email: #{@current_user.email} ID: #{@current_user.id}" %>
  <div id='user-profile'>
<div>