<div id="navbar-inner">
  <h2>My Profile</h2>
  <h4>Logged in as...<%= "#{@current_user.first_name} #{@current_user.last_name}" %></h4>
</div>

<div class='container'>
  <div id='user-profile'>
    <p></p>
    <p>First Name: <%= @current_user.first_name %></p>
    <p>Last Name: <%= @current_user.last_name %></p>
    <p>Email: <%= @current_user.email %></p>
  </div>
  <br>
  <div id='calls-to-action'>
    <h4>I would like to...</h4>

    <p>Search disorders, treatments, and prescriptions:</p>
    <%= button_to "Go to My Dashboard", dashboard_path %>
    
    <p>Add new prescriptions:</p>
    <%= button_to "Go to My Dashboard", dashboard_path %>
    
    <p>Manage disorders (add, delete):</p>
    <%= button_to "Go to Disorders", disorders_path %>
    
    <p>Manage treatments (add, delete):</p>
    <%= link_to "Coming Soon", profile_path %><br></br>
    
    <p>Enter free text data:</p>
    <%= link_to "Coming Soon", profile_path %>
  </div>
</div>