<!--div id="navigation">
  <h1>My Profile</h1>
  <% #if signed_in? %>
    <%= render @user %>
  <% #else %>
    <%= #redirect_to :root %>
  <% #end %>
</div>

<div class='container'>
  <div id='user-profile'>
    <%= #link_to "Edit Profile", edit_user_path(@user) %>
    <%= image_tag @user.avatar_url %>
    <h1><%= #{}"First Name: #{@user.first_name} Last Name: #{@user.last_name}" %></h1>
    <%= #{}"Degree: #{@user.degree}, Specialty: #{@user.specialty}" %>
    <%= #{}"Location: @user.location" %>
    <%= #{}"Website: @user.website" %>
  <div id='user-profile'>
<div-->