<div id="navbar-inner">
  <h2>Disorders</h2>
</div>

<div class='container'>
  <h4>Add New Disorders</h4>

  <%= form_for 'new_disorder_path' do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="actions"><%= button_to "Submit", new_disorder_path %></div>
  <% end %>

  <h4>Search Disorders</h4>

  <%= form_for 'search_disorder_path' do |f| %>
    <div class="field">
      <%= f.label :search %>
      <%= f.text_field :q %>
    </div>
    <div class="actions"><%= submit_tag "Search" %></div>
  <% end %>

  <%= render "disorders/search", :action => "search" %>
</div>