<!DOCTYPE html>
<html>
<head>
  <title>SharePractice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--header-->
    <ul class="custom_nav_title pull-right">
      <% if signed_in? %>
        <li class="auth_margin auth_name"><%= link_to current_user.name, current_user %></li>
        <li class="auth_margin"><%= link_to 'Sign Out', signout_path %></li>
      <% else %>
        <li class="auth_margin"><%= link_to 'Sign in via Github', '/auth/github' %></li>
      <% end %>
    </ul>
<!--header-->

<%= yield %>

<!--footer-->

<!--footer-->

</body>
</html>